---
export const prerender = false;
import { Image } from "astro:assets";
import DesktopNavigation from "@/components/DesktopNavigation";
import MobileNavigation from "@/components/MobileNavigation";
import Header from "@/components/syntax/Header.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { CERTS_INFO } from "@/lib/creds-info";
import Heading1AndP from "@/components/syntax/Heading1AndP.astro";
import Heading2AndP from "@/components/syntax/Heading2AndP.astro";
import LinearGradientMask from "@/components/LinearGradientMask.astro";
---

<MainLayout
  title="Credentials of Santienz Phils. Inc."
  desc="Our certifications and permits reflect our dedication to delivering reliable flooring solutions and maintaining the highest standards in every project we undertake."
>
  <Header className="text-primary backdrop-blur-lg">
    <DesktopNavigation hideCredentials client:load />
    <MobileNavigation hideCredentials client:load />
  </Header>
  <section class="relative">
    <Heading1AndP
      h1andpParentClass="mx-auto px-4 pt-24 sm:pt-32 max-w-6xl"
      pClass="text-center"
      alignment="center-only"
      h1="Credentials"
      p="Our credentials reflect our dedication to delivering reliable flooring solutions and maintaining the highest standards in every project we undertake."
    />
    <LinearGradientMask />
  </section>
  <div class="relative pb-6">
    <section
      hidden={CERTS_INFO.filter((cert) => cert.type === "certificate")
        .length === 0}
      class="space-y-6 mt-24 max-w-6xl mx-auto"
    >
      <Heading2AndP h="Certificates" alignment="left-only" />
      <div class="grid grid-cols-3 gap-1 xmd:gap-4 px-1 xmd:px-4">
        {
          CERTS_INFO.filter((cert) => cert.type === "certificate").map(
            (cert) => (
              <div class="h-full flex">
                <h3 class="sr-only">{cert.title}</h3>
                <div class="max-w-xl p-1 xmd:p-4 rounded-md mx-auto bg-primary/5 flex-1">
                  <a href={cert.img.src} target="_blank">
                    <Image
                      src={cert.img}
                      alt={cert.title}
                      class="rounded-md object-fit h-full w-full"
                    />
                  </a>
                </div>
              </div>
            ),
          )
        }
      </div>
    </section>
    <section
      hidden={CERTS_INFO.filter((cert) => cert.type === "permit").length === 0}
      class="space-y-6 mt-24 max-w-6xl mx-auto"
    >
      <Heading2AndP h="Permits" alignment="left-only" />
      <div class="grid grid-cols-2 gap-1 xmd:gap-4 px-1 xmd:px-4">
        {
          CERTS_INFO.filter((cert) => cert.type === "permit").map((cert) => (
            <div
              class={`h-full flex ${cert.title === "Business Permit" && "col-span-2"}`}
            >
              <h3 class="sr-only">{cert.title}</h3>
              <div class="p-1 xmd:p-4 rounded-md mx-auto bg-primary/5">
                <a href={cert.img.src} target="_blank">
                  <Image src={cert.img} alt={cert.title} class="rounded-md" />
                </a>
              </div>
            </div>
          ))
        }
      </div>
    </section>
    <section
      hidden={CERTS_INFO.filter((cert) => cert.type === "receipt").length === 0}
      class="space-y-6 mt-24 max-w-6xl mx-auto"
    >
      <Heading2AndP h="Receipts" alignment="left-only" />
      {
        CERTS_INFO.filter((cert) => cert.type === "receipt").map((cert) => (
          <div class="space-y-4 px-1 xmd:px-4">
            <h3 class="sr-only">{cert.title}</h3>
            <div class="max-w-xl p-1 xmd:p-4 rounded-md mx-auto bg-primary/5">
              <a href={cert.img.src} target="_blank">
                <Image src={cert.img} alt={cert.title} class="rounded-md" />
              </a>
            </div>
          </div>
        ))
      }
    </section>
    <LinearGradientMask
      className="[mask-image:linear-gradient(transparent,transparent,white)] "
    />
  </div>
</MainLayout>
