---
import DesktopNavigation from "@/components/DesktopNavigation";
import Header from "@/components/syntax/Header.astro";
import MobileNavigation from "@/components/MobileNavigation";
import MainLayout from "@/layouts/MainLayout.astro";
import H1AndP from "@/components/syntax/hAndP/H1AndP.astro";
import SectionMainHero from "@/components/syntax/sections/SectionMainHero.astro";
import SectionMainHeroOverlay from "@/components/syntax/sections/SectionMainHeroOverlay.astro";
import { ChevronLeft, Info, MapPin, Star, Tag } from "lucide-react";
import CTAButton from "@/components/CTAButton";
import { supabase } from "@/db/supabase";
import { Image } from "astro:assets";
import Grid3DBg from "@/components/Grid3DBg.astro";

export const prerender = false;

const { slug } = Astro.params;
const { data } = await supabase
  .from("projects")
  .select()
  .eq("slug", slug ?? "")
  .single();
if (!data) return Astro.redirect("/projects");

const images = data.imgs?.length
  ? Array.from({ length: data.imgs.length }).map(
      (_, index) =>
        `${import.meta.env.SUPABASE_URL}/storage/v1/object/public/projects/` +
        (data.imgs as string[])[index],
    )
  : null;
---

<MainLayout
  title={`${data.title} and Santienz Phils. Inc.`}
  desc=`${data.title} is one of the valued clients served by Santienz Phils. Inc. Explore our work on their project and how we helped bring their vision to life.`
>
  <Header className="text-primary-foreground">
    <DesktopNavigation hideProjects client:load />
    <MobileNavigation hideProjects client:load />
  </Header>
  <SectionMainHero>
    <H1AndP
      h={data.title as string}
      p=`${data.title as string} is one of the valued clients served by Santienz Phils. Inc.
        Explore our work on their project and how we helped bring their vision to
        life.`
    />
    <div class="max-w-6xl mx-auto w-fit">
      <CTAButton
        className="drop-shadow-[0_4px_8px_var(--tertiary)] px-12 z-20 border-tertiary text-primary-foreground bg-tertiary/10  hover:bg-tertiary/20 hover:text-primary-foreground backdrop-blur w-full"
        variant="outline"
        effect="shineHover"
        link="/projects"
      >
        <ChevronLeft />
        <span>Back to all projects</span>
      </CTAButton>
    </div>
    <SectionMainHeroOverlay>
      {
        images ? (
          <Image
            src={images[0]}
            alt={data.title ? data.title : "Grid 3D Background"}
            class="absolute inset-0 w-full h-full object-cover blur-xs brightness-75"
            quality="low"
            width={1080}
            height={720}
          />
        ) : (
          <Grid3DBg />
        )
      }
    </SectionMainHeroOverlay>
  </SectionMainHero>
  <section
    class="mx-auto max-w-6xl px-4 text-muted-foreground -mt-10 mb-6 space-y-2"
  >
    <p>
      <span>
        <Star className="inline mr-1 size-5" />
      </span>
      Client: {data.title}
    </p>
    <p hidden={!data.address}>
      <span>
        <MapPin className="inline mr-1 size-5" />
      </span>
      Location: {data.address}
    </p>
    <p>
      <span>
        <Tag className="inline mr-1  size-5" />
      </span>
      Products used: {
        (data.products as string[]).map((prod, i) => (
          <span>
            <a
              href={`/products#${prod.toLocaleLowerCase().replace(" ", "-")}`}
              class="text-primary hover:underline"
            >
              {(data.products as string[]).length - 1 !== i
                ? `${prod}, `
                : prod}
            </a>
          </span>
        ))
      }
    </p>
    <p hidden={!data.sqm}>
      <span>
        <Info className="inline mr-1  size-5" />
      </span>
      Other info: {data.sqm ? `${data.sqm}sqm` : null}
    </p>
  </section>
  {
    images ? (
      <section class="max-w-6xl mx-auto px-1 xmd:px-4 grid gap-4 not-xmd:gap-1">
        {images?.map((img, i) => (
          <Image
            class="rounded-xl "
            src={img}
            alt={`image-${i}-of-${data.slug}`}
            quality="mid"
            width={1080}
            height={720}
          />
        ))}
      </section>
    ) : null
  }
  <div class="max-w-6xl mx-auto w-fit">
    <CTAButton variant="tertiary" effect="shineHover" link="/projects">
      <ChevronLeft />
      <span>Back to all projects</span>
    </CTAButton>
  </div>
</MainLayout>
