---
import DesktopNavigation from "@/components/DesktopNavigation";
import Header from "@/components/syntax/Header.astro";
import MobileNavigation from "@/components/MobileNavigation";
import MainLayout from "@/layouts/MainLayout.astro";
import { PROJECT_INFO } from "@/lib/projects-info";
import { Image } from "astro:assets";
import H1AndP from "@/components/syntax/hAndP/H1AndP.astro";
import SectionMainHero from "@/components/syntax/sections/SectionMainHero.astro";
import SectionMainHeroOverlay from "@/components/syntax/sections/SectionMainHeroOverlay.astro";
import grid3dBackground from "@/images/grid_3d.png";
import { Calendar, ChevronLeft, Info, MapPin, Star, Tag } from "lucide-react";
import CTAButton from "@/components/CTAButton";

export function getStaticPaths() {
  return [
    { params: { slug: "antartica-cold-storage" } },
    { params: { slug: "corpbay-realty-corp" } },
    { params: { slug: "deckta-pacific-equities-inc" } },
    { params: { slug: "delimondo" } },
    {
      params: {
        slug: "first-inland-kingdom-cold-storage",
      },
    },
    {
      params: {
        slug: "five-s-vehicle-inspection-center",
      },
    },
    { params: { slug: "frabelle-group-of-companies" } },
    { params: { slug: "jentec-storage-inc" } },
    { params: { slug: "mets-logistics-inc" } },
    { params: { slug: "nordic-atlantic-logistic-inc" } },
    {
      params: { slug: "pinnacle-cold-storage-solution" },
    },
    {
      params: { slug: "plx-dry-and-cold-logistics-hub" },
    },
    { params: { slug: "pure-logistics-express-inc" } },
    { params: { slug: "quaensa-foods-inc" } },
    { params: { slug: "royal-cargo-inc" } },
    { params: { slug: "royale-cold-storage" } },
    { params: { slug: "san-miguel-foods-inc" } },
    { params: { slug: "starkson-realty-inc" } },
    { params: { slug: "viking-cold-storage" } },
    { params: { slug: "zuru-argo-industrial-corp" } },
  ];
}
const { slug } = Astro.params;
const data = PROJECT_INFO.find((project) => project.slug === slug);
if (!data) return Astro.redirect("/projects");
---

<MainLayout
  title={`${data.title} | Santienz Phils Inc.`}
  desc=`${data.title} is one of the valued clients served by Santienz Phils Inc. Explore our work on their project and how we helped bring their vision to life.`
>
  <Header className="text-primary-foreground">
    <DesktopNavigation hideProjects client:load />
    <MobileNavigation hideProjects client:load />
  </Header>

  <SectionMainHero>
    <H1AndP
      h={data.title as string}
      p=`${data.title as string} is one of the valued clients served by Santienz Phils Inc.
        Explore our work on their project and how we helped bring their vision to
        life.`
    />
    <div class="max-w-6xl mx-auto w-fit">
      <CTAButton
        className="drop-shadow-[0_4px_8px_var(--tertiary)] px-12 z-20 border-tertiary text-primary-foreground bg-tertiary/10  hover:bg-tertiary/20 hover:text-primary-foreground  w-full"
        variant="outline"
        effect="shineHover"
        link="/contact-us"
      >
        <ChevronLeft />
        <span>Back to all projects</span>
      </CTAButton>
    </div>
    <SectionMainHeroOverlay>
      <Image
        src={data.imgs[0] ?? grid3dBackground}
        alt="Grid 3D Background"
        class="absolute inset-0 w-full h-full object-cover blur-xs brightness-75"
      />
    </SectionMainHeroOverlay>
  </SectionMainHero>
  <section
    class="mx-auto max-w-6xl px-4 text-muted-foreground -mt-10 mb-6 space-y-2"
  >
    <p>
      <span>
        <Star className="inline mr-1 size-5" />
      </span>
      Client: {data.title}
    </p>
    <p hidden={!data.address}>
      <span>
        <MapPin className="inline mr-1 size-5" />
      </span>
      Location: {data.address}
    </p>
    <p>
      <span>
        <Tag className="inline mr-1  size-5" />
      </span>

      Products used: Polyurethane Flooring System
    </p>
    <p hidden={!data.sqm}>
      <span>
        <Info className="inline mr-1  size-5" />
      </span>
      Other info: {data.sqm ? `${data.sqm}sqm` : null}
    </p>
  </section>
  <section class="max-w-6xl mx-auto px-1 xmd:px-4 grid gap-4 not-xmd:gap-1">
    {
      data.imgs.map((img, i) => (
        <Image
          class="rounded-xl not-xmd:last:-mb-15"
          src={img}
          alt={`image-${i}-of-${data.slug}`}
        />
      ))
    }
  </section>
</MainLayout>
