---
const input = {
  name: "Name",
  email: "Sample@gmail.com",
  body: "Sample Body",
  subject: "Sample Subject",
};
---

<html>
  <head>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div
      style="display: flex; align-items: center; background-color: #182e85; padding: 16px;"
    >
      <img
        src="https://santienz-astro.vercel.app/santienz.png"
        style="height: 32px;"
      />
      <h1 style="color: white; margin-left:16px; ">Santienz Phils. Inc.</h1>
    </div>
    <div style="padding: 0 16px;">
      <h2 style="color:#182e85; font-size: 24px; margin: 24px 0;">
        Hi, there is a new inquiry from website.
      </h2>
      <div
        style="background-color: #182e8520; border-radius: 16px; padding: 16px;"
      >
        <h3>From: ${input.name} ${input.email}</h3>
        <h3>Subjext: ${input.subject}</h3>
        <br />
        <p style="white-space: pre-wrap;">${input.body}</p>
      </div>

      <br />
      <br />
      <p>Reply to: ${input.email}</p>
    </div>
  </body>
</html>
