---
import MainLayout from "@/layouts/MainLayout.astro";
import { CountingNumber } from "@/components/animate-ui/text/counting-number";
import { Button } from "@/components/ui/button";
import { Badge } from "@/components/ui/badge";
import { Medal, Star, UserCircle, Users } from "lucide-react";
import { Boxes } from "@/components/ui/background-boxes";
import { EffectButton } from "@/components/ui/effect-button";
const features = [
  { count: 100, title: "Projects Completed" },
  { count: 60, title: "Satisfied Clients" },
  { count: 20, title: "Years of Experience" },
  { count: 50, title: "Team Members" },
];

const projects = [
  {
    title: "Lorem Ipsum",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fugiat earum similique.",
    img: "https://flooringsolutions.ph/wp-content/uploads/2019/03/Reasons-Why-You-Should-Implement-Polyurethane-Flooring-e1552630914227.jpg",
  },
  {
    title: "Lorem Ipsum",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fugiat earum similique.",
    img: "https://flooringsolutions.ph/wp-content/uploads/2021/03/Why-Is-Polyurethane-Great-for-Flooring-1.jpg",
  },
  {
    title: "Lorem Ipsum",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fugiat earum similique.",
    img: "https://flooringsolutions.ph/wp-content/uploads/2021/03/How-to-Apply-Diff-Polyurethane-Finishes.jpg",
  },
  {
    title: "Lorem Ipsum",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fugiat earum similique.",
    img: "https://flooringsolutions.ph/wp-content/uploads/2019/03/What-is-Polyurethane.jpg",
  },
];
---

<MainLayout title="Home" desc="hi">
  <section
    class="relative w-full overflow-hidden bg-primary flex flex-col items-center justify-center px-4 py-32"
  >
    <div>
      <div
        class="absolute inset-0 w-full h-full bg-blue-950 z-20 [mask-image:radial-gradient(transparent,white)] pointer-events-none"
      >
      </div>
      <Boxes client:load />
    </div>
    <div class="space-y-4 text-center max-w-4xl">
      <h1 class="font-bold text-4xl sm:text-6xl text-tertiary relative z-20">
        Lorem Ipsum Dolor
      </h1>
      <p class="text-primary-foreground relative z-20">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
        assumenda voluptates at!
      </p>
    </div>
    <div
      class="flex sm:flex-row flex-col-reverse max-w-xl w-full justify-center gap-4 px-4 py-8 relative z-20"
    >
      <Button variant="borderedTertiary" className="relative z-20 flex-1"
        >Our Services
      </Button>
      <Button variant="tertiary" className="relative z-20  flex-1">
        <a href="contact-us">Get Quote</a>
      </Button>
    </div>
  </section>
  <section class="mx-auto grid max-w-4xl grid-cols-2 gap-4 p-4 lg:grid-cols-4">
    {
      features.map((feature) => (
        <div class="flex flex-col justify-end rounded-lg bg-primary/5 px-4 pt-8 pb-4 gap-2">
          <div class="text-4xl font-bold text-primary">
            <CountingNumber client:load number={feature.count} />+
          </div>
          <div class="text-muted-foreground">{feature.title}</div>
        </div>
      ))
    }
  </section>
  <section class="space-y-16 xmd:py-16 pt-16 bg-primary/5">
    <div class="mx-auto max-w-4xl space-y-4 px-4">
      <h2 class="text-center font-bold text-4xl text-primary">
        Featured Projects
      </h2>
      <p class="text-center text-muted-foreground">
        Take a look at some of our recent completed projects
      </p>
    </div>
    <div class="mx-auto grid max-w-4xl xmd:gap-8 xmd:px-4">
      {
        projects.map((project) => (
          <div class="overflow-hidden xmd:rounded-2xl bg-primary">
            <img
              src={project.img}
              class="aspect-[2/1] w-full bg-primary object-cover"
              alt={project.title}
            />
            <div class="space-y-2 p-4 text-primary-foreground">
              <p class="font-semibold text-2xl">{project.title}</p>
              <p class="text-muted-foreground">{project.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </section>
  <section
    class="mx-auto max-w-4xl space-y-8 not-xmd:border-t border-t-primary p-4 not-xmd:pt-16"
  >
    <div class="space-y-4">
      <h2 class="font-bold text-4xl text-primary">About Santienz</h2>
      <p class="text-muted-foreground">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam
        perspiciatis omnis officia quibusdam odit veniam! Earum tempora quae
        aperiam enim nobis eius. Architecto iste deserunt eum non officiis a
        repellat.
      </p>
    </div>

    <div class="flex flex-wrap justify-evenly gap-4">
      <div class="flex items-center gap-4">
        <Medal className="inline size-9 text-primary" />
        <div class="inline">
          <p>Fully Certified</p>
          <p class="text-base text-muted-foreground">Fully Certified</p>
        </div>
      </div>
      <div class="flex items-center gap-4">
        <Users className="inline size-9 text-primary" />
        <div class="inline">
          <p>Expert Team</p>
          <p class="text-base text-muted-foreground">Skilled professionals</p>
        </div>
      </div>
    </div>

    <img
      src="https://fellow.app/wp-content/uploads/2022/11/Team-Member-Strengths2.jpg"
      class="aspect-[3/1] w-full rounded-md object-cover"
      alt="basta"
    />
  </section>
  <section class="space-y-8 px-4 pb-4">
    <div class="mx-auto max-w-4xl space-y-4">
      <h2 class="font-bold text-4xl text-primary">What Our Clients Say</h2>
      <p class="text-muted-foreground">Hear from our satisfied customers</p>
    </div>
    {
      Array.from({ length: 4 }).map(() => (
        <div class="mx-auto max-w-4xl space-y-4 rounded-md bg-primary/10 p-4">
          <div class="space-x-2 text-primary">
            <UserCircle className="float-start inline size-9" />
            <div class="inline-block">
              <p class="inline font-semibold leading-none text-2xl">
                Lorem ipsum
              </p>
              <p class="text-base text-muted-foreground">01/23/45</p>
            </div>
          </div>
          <div class="flex gap-1">
            {Array.from({ length: 5 }).map((_, i) => (
              <Star
                key={`${i + 1}`}
                className="fill-primary/25 stroke-primary"
              />
            ))}
          </div>
          <p class="text-muted-foreground">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam
            enim modi dolorem expedita?
          </p>
        </div>
      ))
    }
  </section>
</MainLayout>
