---
import MainLayout from "@/layouts/MainLayout.astro";
import { BicepsFlexed, CheckCircle, Medal, Users } from "lucide-react";
import CTAButton from "@/components/CTAButton";
import LinkButton from "@/components/LinkButton";
import Header from "@/components/syntax/Header.astro";
import DesktopNavigation from "@/components/DesktopNavigation";
import MobileNavigation from "@/components/MobileNavigation";
import { Image } from "astro:assets";
import aboutUsBg from "@/images/about-us-bg.webp";
import CertficatesSlider from "@/components/CertficatesSlider.astro";
import { supabase } from "@/db/supabase";
import Heading1AndP from "@/components/syntax/Heading1AndP.astro";
import Heading2AndP from "@/components/syntax/Heading2AndP.astro";
import MainHeroOverlay from "@/components/syntax/MainHeroOverlay.astro";
import TrustedBy from "@/components/TrustedBy.astro";
import { imgUrlFromSb } from "@/lib/utils";
const features: {
  count: number;
  title: string;
}[] = [
  {
    count: 100,
    title: "Projects Completed 🏆",
  },
  { count: 60, title: "Satisfied Clients 😊" },
  { count: 20, title: "Years of Experience ⏳" },
  { count: 100, title: "Team Members 👥" },
];

const featured_projects = await supabase
  .from("projects")
  .select()
  .or(
    `title.eq.Antartica Cold Storage,title.eq.Delimondo,title.eq.Five S Vehicle Inspection Center,title.eq.Royal Cargo Inc`,
  );
---

<MainLayout
  title="Satienz Phils. Inc."
  desc="The Ultimate Polyurethane Mortar Floor"
>
  <Header className="text-primary-foreground">
    <DesktopNavigation client:load />
    <MobileNavigation hideHome client:load />
  </Header>
  <section
    id="main-hero"
    class="relative w-full overflow-hidden bg-primary pt-20 xmd:pt-30 pb-6"
  >
    <Heading1AndP
      h1="Santienz Phils. Inc."
      p=`The Ultimate
      Polyurethane Mortar Floor`
      withCta
      h1Class="font-bold text-base md:text-base lg:text-base text-primary-foreground leading-tight z-20 relative"
      pClass="text-tertiary z-20 relative text-center whitespace-pre-line text-4xl md:text-6xl lg:text-6xl leading-tight font-bold"
      parentClass="max-w-6xl mx-auto px-4"
      alignment="center-only"
    >
      <div class="mx-auto z-20 flex gap-1 xmd:gap-4 flex-col sm:flex-row w-fit">
        <CTAButton
          className="drop-shadow-[0_4px_8px_var(--tertiary)] px-12 z-20 w-full flex-1"
          variant="tertiary"
          effect="shineHover"
          link="/contact-us"
        >
          Request Quote
        </CTAButton>
        <CTAButton
          className="drop-shadow-[0_4px_8px_var(--tertiary)] px-12 z-20 border-tertiary text-primary-foreground bg-tertiary/10  hover:bg-tertiary/20 hover:text-primary-foreground backdrop-blur w-full flex-1"
          variant="outline"
          effect="shineHover"
          link="/about-us"
        >
          Learn More About Us
        </CTAButton>
      </div>
    </Heading1AndP>
    <div
      class="max-w-6xl px-1 xmd:px-4 mx-auto grid gap-1 xmd:gap-4 grid-cols-2 md:grid-cols-4 mt-6"
    >
      {
        features.map((feature) => (
          <div class="flex flex-col rounded-md z-20 bg-background/5 backdrop-blur-xs p-3 xmd:p-4 drop-shadow-lg">
            <div class="text-2xl md:text-4xl font-bold text-tertiary">
              {feature.count}+
            </div>
            <div class="text-primary-foreground">{feature.title}</div>
          </div>
        ))
      }
    </div>
    <MainHeroOverlay>
      <video
        src="AVP_2023.mp4"
        autoplay
        loop
        class="xmd:rounded-md object-cover h-full w-full brightness-50"
        muted
      >
      </video>
    </MainHeroOverlay>
  </section>
  <!-- Featured Projects -->
  <section class="space-y-6 mt-6">
    <Heading2AndP
      h="Featured Projects"
      p="Take a look at some of our completed projects"
      alignment="left-only"
    />
    <div
      class="grid gap-1 xmd:gap-4 xxs:grid-cols-2 auto-rows-fr mx-auto max-w-6xl px-1 xmd:px-4"
    >
      {
        featured_projects.data?.map((project, i) => {
          if (project.imgs)
            return (
              <a
                href={`/projects/${project.slug}`}
                class={`overflow-hidden w-full relative rounded-md drop-shadow-lg
                ${i === 1 || i === 2 ? "xxs:row-span-2" : "xxs:row-span-1"}
              `}
              >
                <Image
                  src={imgUrlFromSb("projects", (project.imgs as string[])[0])}
                  class="aspect-[2/1] h-full bg-primary object-cover"
                  alt={project.title}
                  inferSize
                  quality="low"
                />
                <h3 class="absolute bottom-0 left-0 w-full drop-shadow bg-gradient-to-t to-100% p-3 xmd:p-4 from-foreground/75 to-foreground/0 text-base sm:text-2xl font-medium text-primary-foreground leading-snug">
                  {project.title}
                </h3>
              </a>
            );
        })
      }
    </div>
    <div class="flex px-4">
      <LinkButton href="/projects" title="View More Projects" />
    </div>
  </section>
  <!-- Finished Clients -->
  <TrustedBy />
  <!-- About -->
  <section class="space-y-6 mt-24">
    <Heading2AndP
      h="About Santienz"
      p="Over the years, we have successfully completed more than 1 million square meters of installations across the Philippines, demonstrating our commitment to quality, innovation, and nationwide service."
      alignment="left-only"
    />

    <div class="max-w-6xl px-1 xmd:px-4 mx-auto drop-shadow-lg">
      <Image
        src={aboutUsBg}
        class="aspect-[2/1] w-full object-cover rounded-md"
        alt="About Us"
      />
    </div>
    <div
      class="grid grid-cols-2 sm:grid-cols-4 gap-4 max-w-6xl w-fit px-4 mx-auto mt-8"
    >
      <div>
        <Medal className="inline size-6 text-tertiary" />
        <h3 class="text-muted-foreground inline">Certified</h3>
      </div>
      <div>
        <Users className="inline size-6 text-tertiary" />
        <h3 class="text-muted-foreground inline">Expert</h3>
      </div>
      <div>
        <CheckCircle className="inline size-6 text-tertiary" />
        <h3 class="text-muted-foreground inline">Proven</h3>
      </div>
      <div>
        <BicepsFlexed className="inline size-6 text-tertiary" />
        <h3 class="text-muted-foreground inline">Reliable</h3>
      </div>
    </div>
    <div class="flex px-4">
      <LinkButton href="/about-us" title="Read More About Us" />
    </div>
  </section>

  <!-- Certificates -->
  <CertficatesSlider className="mt-12" />
</MainLayout>
