---
import MainLayout from "@/layouts/MainLayout.astro";
import { BicepsFlexed, CheckCircle, Medal, Play, Users } from "lucide-react";
import CTAButton from "@/components/CTAButton";
import LinkButton from "@/components/LinkButton";
import { InfiniteMovingCards } from "@/components/ui/infinite-moving-cards";
import Header from "@/components/syntax/Header.astro";
import { EnhancedButton } from "@/components/EnhancedButton";
import DesktopNavigation from "@/components/DesktopNavigation";
import MobileNavigation from "@/components/MobileNavigation";
import { PROJECT_INFO } from "@/lib/projects-info";
import { Image } from "astro:assets";
import SectionMainHeroOverlay from "@/components/syntax/sections/SectionMainHeroOverlay.astro";
import SectionMainHero from "@/components/syntax/sections/SectionMainHero.astro";
import H1AndP from "@/components/syntax/hAndP/H1AndP.astro";
import H2AndP from "@/components/syntax/hAndP/H2AndP.astro";

const features: {
  count: number;
  title: string;
}[] = [
  {
    count: 100,
    title: "Projects Completed 🏆",
  },
  { count: 60, title: "Satisfied Clients 😊" },
  { count: 20, title: "Years of Experience ⏳" },
  { count: 50, title: "Team Members 👥" },
];

const featured_projects = [
  { ...PROJECT_INFO[0], imgs: [PROJECT_INFO[0].imgs[2]] },
  { ...PROJECT_INFO[3], imgs: [PROJECT_INFO[3].imgs[3]] },
  { ...PROJECT_INFO[5], imgs: [PROJECT_INFO[5].imgs[2]] },
  { ...PROJECT_INFO[14], imgs: [PROJECT_INFO[14].imgs[3]] },
];
---

<MainLayout
  title="Satienz Philippines Inc. | No.1 Polyurethane Mortar Flooring in the Philippines since 1998"
  desc="No.1 Polyurethane Mortar Flooring in the Philippines since 1998"
>
  <Header className="text-primary-foreground">
    <DesktopNavigation client:load />
    <MobileNavigation hideHome client:load />
  </Header>
  <SectionMainHero>
    <H1AndP
      h="No.1 Polyurethane Mortar Flooring in the Philippines since 1998"
      p="Santienz Philippines Inc. is preferred by over 60 clients in manufacturing, food, and pharma sectors."
    >
      <div
        class="mx-auto z-20 flex gap-1 flex-col sm:flex-row mt-12 max-w-48 sm:max-w-sm"
      >
        <a href="about-us" class="flex-1 xmd:block hidden">
          <EnhancedButton
            client:load
            className="drop-shadow-[0_4px_8px_var(--tertiary)] px-12 z-20 w-full"
            effect="shineHover"
            variant="tertiary">Learn More</EnhancedButton
          >
        </a>
        <CTAButton
          text="Request Quote"
          className="drop-shadow-[0_4px_8px_var(--tertiary)] px-12 z-20 w-full flex xmd:hidden"
          variant="tertiary"
          effect="shineHover"
          link="/contact-us"
        />
        <CTAButton
          text="Play Video"
          className="drop-shadow-[0_4px_8px_var(--tertiary)] px-12 z-20 border-tertiary text-primary-foreground bg-tertiary/10  hover:bg-tertiary/20 hover:text-primary-foreground  w-full"
          variant="outline"
          effect="shineHover"
          link="https://drive.google.com/file/d/1P0UcS0fa_ExazAVLeCqpOiGBSPFV5M2_/view"
          target="_blank"
        >
          <Play />
        </CTAButton>
      </div>
    </H1AndP>
    <div
      class="max-w-6xl px-4 mx-auto hidden md:grid gap-1 grid-cols-2 md:grid-cols-4 mt-8"
    >
      {
        features.map((feature) => (
          <div class="flex flex-col rounded-xl gap-2 z-20 bg-background/5 backdrop-blur-xs p-4">
            <div class="text-3xl md:text-6xl font-bold text-tertiary">
              {feature.count}+
            </div>
            <div class="text-primary-foreground">{feature.title}</div>
          </div>
        ))
      }
    </div>
    <SectionMainHeroOverlay>
      <video
        src="AVP_2023.mp4"
        autoplay
        loop
        class="xmd:rounded-xl object-cover h-full w-full brightness-50"
        muted
      >
      </video>
    </SectionMainHeroOverlay>
  </SectionMainHero>

  <!-- Achievements (Mobile View Only) -->
  <!-- <section
    class="max-w-6xl px-4 mx-auto grid md:hidden gap-1 grid-cols-2 md:grid-cols-4 -mt-20"
  >
    {
      features.map((feature, i) => (
        <div
          class={`flex flex-col gap-2 z-20 bg-primary/10 p-4
              ${i === 0 && "rounded-tl-xl"}
              ${i === 1 && "rounded-tr-xl"}
              ${i === 2 && "rounded-bl-xl"}
              ${i === 3 && "rounded-br-xl"}`}
        >
          <div class="text-3xl md:text-6xl font-bold text-primary">
            {feature.count}+
          </div>
          <div class="text-foreground">{feature.title}</div>
        </div>
      ))
    }
  </section> -->

  <!-- Featured Projects -->
  <section class="flex flex-col gap-8">
    <H2AndP
      h="Featured Projects"
      p="Take a look at some of our recent completed projects"
    />
    <div
      class="grid gap-1 xmd:grid-cols-2 xmd:grid-rows-3 mx-auto max-w-6xl xmd:px-4"
    >
      {
        featured_projects.map((project, i) => (
          <a
            href={`/projects/${project.slug}`}
            class={`overflow-hidden w-full relative
                ${(i === 1 || i === 2) && "row-span-2"}
                ${i === 0 && "xmd:rounded-tl-xl"}
                ${i === 1 && "xmd:rounded-tr-xl"}
                ${i === 2 && "xmd:rounded-bl-xl"}
                ${i === 3 && "xmd:rounded-br-xl"}
              `}
          >
            <Image
              src={project.imgs[0]}
              class="aspect-[2/1] h-full bg-primary object-cover"
              alt={project.title}
            />
            <h3 class="absolute bottom-0 left-0 w-full drop-shadow  bg-gradient-to-t to-100% p-4 from-foreground/75 to-foreground/0 backdrop-blur-xs text-2xl font-bold text-primary-foreground truncate">
              {project.title}
            </h3>
          </a>
        ))
      }
    </div>
    <LinkButton href="/projects" title="View Projects" />
  </section>

  <!-- About -->
  <section class="flex flex-col gap-8">
    <H2AndP
      h="About Santienz"
      p="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam perspiciatis omnis officia quibusdam odit veniam! Earum tempora quae aperiam enim nobis eius. Architecto iste deserunt eum non officiis a repellat."
    />

    <div class="max-w-6xl xmd:px-4 mx-auto">
      <img
        src="https://fellow.app/wp-content/uploads/2022/11/Team-Member-Strengths2.jpg"
        class="aspect-[2/1] w-full object-cover xmd:rounded-xl"
        alt="basta"
      />
    </div>
    <div class="flex flex-wrap justify-evenly gap-4 max-w-6xl px-4 mx-auto">
      <div>
        <Medal className="inline size-6 text-primary" />
        <h3 class="text-base text-muted-foreground inline">Certified</h3>
      </div>
      <div>
        <Users className="inline size-6 text-primary" />
        <h3 class="text-base text-muted-foreground inline">Expert Team</h3>
      </div>
      <div>
        <CheckCircle className="inline size-6 text-primary" />
        <h3 class="text-base text-muted-foreground inline">Proven</h3>
      </div>
      <div>
        <BicepsFlexed className="inline size-6 text-primary" />
        <h3 class="text-base text-muted-foreground inline">Reliable</h3>
      </div>
    </div>
    <LinkButton href="/about-us" title="Read More About Us" />
  </section>

  <!-- Testimonials -->
  <section class="flex flex-col gap-8">
    <H2AndP h="What Our Clients Say" p="Hear from our satisfied customers" />
    <InfiniteMovingCards
      client:load
      className="mx-auto max-w-6xl w-full"
      items={[
        {
          name: "April Pearl Fedalgo",
          quote:
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam enim modi dolorem expedita?",
          title: "Ma'am Inasal",
        },
        {
          name: "Elijah Redondo",
          quote:
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam enim modi dolorem expedita?",
          title: "Angel's Burger",
        },
        {
          name: "John Rod Dondoyano",
          quote:
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam enim modi dolorem expedita?",
          title: "Company",
        },
        {
          name: "Client Name",
          quote:
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam enim modi dolorem expedita?",
          title: "Client's Company",
        },
        {
          name: "Client Name",
          quote:
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam enim modi dolorem expedita?",
          title: "Client's Company",
        },
      ]}
      direction="right"
      speed="slow"
    />
    <LinkButton href="/testimonials" title="View More Testimonials" />
  </section>
</MainLayout>
