---
import MainLayout from "@/layouts/MainLayout.astro";
import {
  BicepsFlexed,
  CheckCircle,
  Medal,
  Play,
  Speech,
  Users,
} from "lucide-react";
import CTAGetQuote from "@/components/CTAGetQuote";
import { Badge } from "@/components/ui/badge";
import LinkButton from "@/components/LinkButton";
import { InfiniteMovingCards } from "@/components/ui/infinite-moving-cards";
import Header from "@/components/Header.astro";
import { EnhancedButton } from "@/components/EnhancedButton";
const features: {
  count: number;
  title: string;
}[] = [
  {
    count: 100,
    title: "Projects Completed 🏆",
  },
  { count: 60, title: "Satisfied Clients 😊" },
  { count: 20, title: "Years of Experience ⏳" },
  { count: 50, title: "Team Members 👥" },
];

const projects = [
  {
    title: "Jollibee",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fugiat earum similique.",
    img: "https://flooringsolutions.ph/wp-content/uploads/2019/03/Reasons-Why-You-Should-Implement-Polyurethane-Flooring-e1552630914227.jpg",
    products: ["Polyurethane", "Nafufill"],
  },
  {
    title: "Universal Robina",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fugiat earum similique.",
    img: "https://flooringsolutions.ph/wp-content/uploads/2021/03/Why-Is-Polyurethane-Great-for-Flooring-1.jpg",
    products: ["Nafufill"],
  },
  {
    title: "SM Supermarket",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fugiat earum similique.",
    img: "https://flooringsolutions.ph/wp-content/uploads/2021/03/How-to-Apply-Diff-Polyurethane-Finishes.jpg",
    products: ["PU"],
  },
  {
    title: "Lorem Ipsum",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fugiat earum similique.",
    img: "https://flooringsolutions.ph/wp-content/uploads/2019/03/What-is-Polyurethane.jpg",
    products: ["PU", "Nafufill"],
  },
];
---

<MainLayout
  title="Satienz Philippines Inc. | No.1 Polyurethane Mortar Flooring in the Philippines since 1998"
  desc="No.1 Polyurethane Mortar Flooring in the Philippines since 1998"
>
  <Header showCTA className="text-primary-foreground" />
  <section
    id="main-hero"
    class="relative w-full overflow-hidden bg-primary flex flex-col items-center justify-center h-fit pt-24 sm:pt-32 pb-16"
  >
    <div
      class="absolute inset-0 w-full h-full bg-blue-950 z-20 [mask-image:radial-gradient(transparent,white)] pointer-events-none"
    >
    </div>
    <!-- <Boxes client:load /> -->
    <div class="z-19 absolute top-0 left-0 h-full w-full">
      <video
        src="AVP_2023.mp4"
        autoplay
        loop
        class="xmd:rounded-xl object-cover h-full w-full brightness-50 blur-xs"
        muted></video>
    </div>
    <div class="max-w-6xl px-4 flex flex-col gap-4">
      <h1
        class="font-bold text-4xl sm:text-5xl md:text-6xl text-tertiary relative z-20 leading-tight drop-shadow-lg text-center"
      >
        No.1 Polyurethane Mortar Flooring in the Philippines since 1998
      </h1>
      <p
        class="text-primary-foreground relative z-20 drop-shadow-lg text-center leading-tight"
      >
        Santienz Philippines Inc. is preferred by over 60 clients in
        manufacturing, food, and pharma sectors.
      </p>
      <div class="mx-auto z-20 flex gap-1 flex-col sm:flex-row mt-4">
        <a href="about-us" class="flex-1 xmd:block hidden">
          <EnhancedButton
            client:load
            className="drop-shadow-[0_4px_8px_var(--tertiary)] px-12 z-20 w-full"
            effect="shineHover"
            variant="tertiary">Learn More</EnhancedButton
          >
        </a>
        <CTAGetQuote
          style="drop-shadow-[0_4px_8px_var(--tertiary)] px-12 z-20 w-full flex xmd:hidden"
        />
        <a
          href="https://drive.google.com/file/d/1P0UcS0fa_ExazAVLeCqpOiGBSPFV5M2_/view"
          target="_blank"
          class="flex-1"
        >
          <EnhancedButton
            client:load
            className="drop-shadow-[0_4px_8px_var(--tertiary)] px-12 z-20 border-tertiary text-primary-foreground bg-tertiary/10  hover:bg-tertiary/20 hover:text-primary-foreground  w-full"
            effect="shineHover"
            variant="outline">Play Video <Play /></EnhancedButton
          >
        </a>
      </div>
    </div>
    <div
      class="max-w-6xl px-4 mx-auto hidden md:grid gap-1 grid-cols-2 md:grid-cols-4 mt-8"
    >
      {
        features.map((feature) => (
          <div class="flex flex-col rounded-xl gap-2 z-20 bg-background/5 backdrop-blur-xs p-4">
            <div class="text-3xl md:text-6xl font-bold text-tertiary">
              {feature.count}+
            </div>
            <div class="text-primary-foreground">{feature.title}</div>
          </div>
        ))
      }
    </div>
  </section>
  <section>
    <div
      class="max-w-6xl px-4 mx-auto grid md:hidden gap-1 grid-cols-2 md:grid-cols-4 -mt-12"
    >
      {
        features.map((feature, i) => (
          <div
            class={`flex flex-col gap-2 z-20 bg-primary/10 p-4
              ${i === 0 && "rounded-tl-xl"}
              ${i === 1 && "rounded-tr-xl"}
              ${i === 2 && "rounded-bl-xl"}
              ${i === 3 && "rounded-br-xl"}`}
          >
            <div class="text-3xl md:text-6xl font-bold text-primary">
              {feature.count}+
            </div>
            <div class="text-foreground">{feature.title}</div>
          </div>
        ))
      }
    </div>
  </section>
  <section class="flex flex-col gap-8">
    <div class="mx-auto max-w-6xl space-y-4 px-4">
      <h2 class="text-center font-bold text-4xl text-primary">
        Featured Projects
      </h2>
      <p class="text-center text-muted-foreground">
        Take a look at some of our recent completed projects
      </p>
    </div>
    <div
      class="grid gap-1 xmd:grid-cols-2 xmd:grid-rows-3 mx-auto max-w-6xl xmd:px-4"
    >
      {
        projects.map((project, i) => (
          <div
            class={`overflow-hidden w-full relative
                ${(i === 1 || i === 2) && "row-span-2"}
                ${i === 0 && "xmd:rounded-tl-xl"}
                ${i === 1 && "xmd:rounded-tr-xl"}
                ${i === 2 && "xmd:rounded-bl-xl"}
                ${i === 3 && "xmd:rounded-br-xl"}
              `}
          >
            <img
              src={project.img}
              class="aspect-[2/1] h-full bg-primary object-cover"
              alt={project.title}
            />
            <div class="absolute bottom-0 left-0 w-full drop-shadow space-y-1 bg-gradient-to-t p-2 from-foreground/50 to-transparent">
              <h3 class="text-4xl font-bold text-primary-foreground">
                {project.title}
              </h3>
              <div class="flex gap-1">
                {project.products.map((product) => (
                  <Badge
                    className="text-lg font-bold bg-transparent border-tertiary text-tertiary"
                    key={product}
                  >
                    {product}
                  </Badge>
                ))}
              </div>
            </div>
          </div>
        ))
      }
    </div>
    <LinkButton href="/portfolio" title="View Portfolio" />
  </section>
  <section class="flex flex-col gap-8">
    <div class="space-y-4 max-w-6xl px-4 mx-auto">
      <h2 class="font-bold text-4xl text-primary text-center">
        About Santienz
      </h2>
      <p class="text-muted-foreground text-center">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam
        perspiciatis omnis officia quibusdam odit veniam! Earum tempora quae
        aperiam enim nobis eius. Architecto iste deserunt eum non officiis a
        repellat.
      </p>
    </div>
    <div class="max-w-6xl xmd:px-4 mx-auto">
      <img
        src="https://fellow.app/wp-content/uploads/2022/11/Team-Member-Strengths2.jpg"
        class="aspect-[2/1] w-full object-cover xmd:rounded-xl"
        alt="basta"
      />
    </div>
    <div class="flex flex-wrap justify-evenly gap-4 max-w-6xl px-4 mx-auto">
      <div>
        <Medal className="inline size-6 text-primary" />
        <h3 class="text-base text-muted-foreground inline">Certified</h3>
      </div>
      <div>
        <Users className="inline size-6 text-primary" />
        <h3 class="text-base text-muted-foreground inline">Expert Team</h3>
      </div>
      <div>
        <CheckCircle className="inline size-6 text-primary" />
        <h3 class="text-base text-muted-foreground inline">Proven</h3>
      </div>
      <div>
        <BicepsFlexed className="inline size-6 text-primary" />
        <h3 class="text-base text-muted-foreground inline">Reliable</h3>
      </div>
    </div>
    <LinkButton href="/about-us" title="Read More About Us" />
  </section>
  <section class="flex flex-col gap-8">
    <div class="mx-auto px-4 max-w-6xl space-y-4">
      <h2 class="font-bold text-4xl text-primary text-center">
        What Our Clients Say
      </h2>
      <p class="text-muted-foreground text-center">
        <span>Hear from our satisfied customers</span>
        <Speech className="inline ml-2" />
      </p>
    </div>
    <InfiniteMovingCards
      client:load
      className="mx-auto max-w-6xl w-full"
      items={[
        {
          name: "April Pearl Fedalgo",
          quote:
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam enim modi dolorem expedita?",
          title: "Ma'am Inasal",
        },
        {
          name: "Elijah Redondo",
          quote:
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam enim modi dolorem expedita?",
          title: "Angel's Burger",
        },
        {
          name: "John Rod Dondoyano",
          quote:
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam enim modi dolorem expedita?",
          title: "Company",
        },
        {
          name: "Client Name",
          quote:
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam enim modi dolorem expedita?",
          title: "Client's Company",
        },
        {
          name: "Client Name",
          quote:
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam enim modi dolorem expedita?",
          title: "Client's Company",
        },
      ]}
      direction="right"
      speed="slow"
    />
    <!-- <div class="mx-auto px-4 max-w-6xl w-full space-y-4">
      {
        Array.from({ length: 4 }).map(() => (
          <div class="max-w-6xl w-full space-y-4 rounded-xl bg-primary/10 p-4">
            <div class="space-x-2 text-primary">
              <UserCircle className="float-start inline size-9" />
              <div class="inline-block">
                <p class="inline font-semibold leading-none text-2xl">
                  Lorem ipsum
                </p>
                <p class="text-base text-muted-foreground">01/23/45</p>
              </div>
            </div>
            <div class="flex gap-1">
              {Array.from({ length: 5 }).map((_, i) => (
                <Star
                  key={`${i + 1}`}
                  className="fill-primary/25 stroke-primary"
                />
              ))}
            </div>
            <p class="text-muted-foreground">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Laboriosam enim modi dolorem expedita?
            </p>
          </div>
        ))
      }
    </div> -->
    <LinkButton href="/testimonials" title="View More Testimonials" />
  </section>
</MainLayout>

<script>
  window.addEventListener("scroll", () => {
    const heroHeight =
      (document.getElementById("main-hero")?.clientHeight as number) + 140;

    if (window.scrollY > heroHeight * 0.75) {
      document
        .getElementById("landing-page-header")
        ?.classList.add("active-header");
      document
        .getElementById("header-burger-icon")
        ?.classList.add("active-header-burger-icon");
      Array.from(document.getElementsByClassName("header-links")).forEach(
        (el) => {
          el.classList.add("active-header-links");
        },
      );
    } else {
      document
        .getElementById("landing-page-header")
        ?.classList.remove("active-header");
      document
        .getElementById("header-burger-icon")
        ?.classList.remove("active-header-burger-icon");
      Array.from(document.getElementsByClassName("header-links")).forEach(
        (el) => {
          el.classList.remove("active-header-links");
        },
      );
    }
  });
</script>
