---
import MainLayout from "@/layouts/MainLayout.astro";
import { CountingNumber } from "@/components/animate-ui/text/counting-number";
import { Medal, Star, UserCircle, Users } from "lucide-react";
import { Boxes } from "@/components/ui/background-boxes";
import CTAGetQuote from "@/components/CTAGetQuote";
import { Image } from "astro:assets";
import grid3d from "@/images/grid_3d.png";
const features = [
  { count: 100, title: "Projects Completed" },
  { count: 60, title: "Satisfied Clients" },
  { count: 20, title: "Years of Experience" },
  { count: 50, title: "Team Members" },
];

const projects = [
  {
    title: "Lorem Ipsum",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fugiat earum similique.",
    img: "https://flooringsolutions.ph/wp-content/uploads/2019/03/Reasons-Why-You-Should-Implement-Polyurethane-Flooring-e1552630914227.jpg",
  },
  {
    title: "Lorem Ipsum",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fugiat earum similique.",
    img: "https://flooringsolutions.ph/wp-content/uploads/2021/03/Why-Is-Polyurethane-Great-for-Flooring-1.jpg",
  },
  {
    title: "Lorem Ipsum",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fugiat earum similique.",
    img: "https://flooringsolutions.ph/wp-content/uploads/2021/03/How-to-Apply-Diff-Polyurethane-Finishes.jpg",
  },
  {
    title: "Lorem Ipsum",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fugiat earum similique.",
    img: "https://flooringsolutions.ph/wp-content/uploads/2019/03/What-is-Polyurethane.jpg",
  },
];
---

<MainLayout
  title="Satienz Philippines Inc. | No.1 Polyurethane Mortar Flooring in the Philippines since 1998"
  desc="No.1 Polyurethane Mortar Flooring in the Philippines since 1998"
>
  <section
    id="main-hero"
    class="relative w-full overflow-hidden bg-primary flex flex-col items-center justify-center h-fit pt-24 sm:pt-32 pb-10"
  >
    <div
      class="absolute inset-0 w-full h-full bg-blue-950 z-20 [mask-image:radial-gradient(transparent,white)] pointer-events-none"
    >
    </div>
    <!-- <Image
      src={grid3d}
      alt="Grid 3D Background"
      class="absolute inset-0 w-full h-full object-cover"
    /> -->
    <Boxes client:load />
    <div
      class="absolute inset-0 w-full h-full backdrop-blur-[1px] pointer-events-none"
    >
    </div>
    <div class="max-w-4xl px-4 flex flex-col gap-4">
      <h1
        class="font-bold text-4xl sm:text-5xl md:text-6xl text-tertiary relative z-20 leading-tight drop-shadow-lg text-center"
      >
        No.1 Polyurethane Mortar Flooring in the Philippines since 1998
      </h1>
      <p
        class="text-primary-foreground relative z-20 drop-shadow-lg text-center"
      >
        Santienz Philippines Inc. is preferred by over 60 clients in
        manufacturing, food, and pharma sectors.
      </p>
      <CTAGetQuote
        style="drop-shadow-[0_4px_8px_var(--tertiary)] md:py-6 px-12 mx-auto md:text-xl md:font-semibold"
      />
    </div>
    <div
      class="max-w-4xl px-4 mx-auto grid gap-1 grid-cols-2 md:grid-cols-4 mt-8"
    >
      {
        features.map((feature) => (
          <div class="flex flex-col rounded-lg gap-2 z-20 bg-background/5 backdrop-blur-xs p-4">
            <div class="text-3xl md:text-6xl font-bold text-tertiary">
              <CountingNumber client:load number={feature.count} />+
            </div>
            <div class="text-primary-foreground">{feature.title}</div>
          </div>
        ))
      }
    </div>
  </section>
  <section class="space-y-8">
    <div class="mx-auto max-w-4xl space-y-4 px-4">
      <h2 class="text-center font-bold text-4xl text-primary">
        Featured Projects
      </h2>
      <p class="text-center text-muted-foreground">
        Take a look at some of our recent completed projects
      </p>
    </div>
    <div class="mx-auto grid max-w-4xl xmd:gap-8 xmd:px-4">
      {
        projects.map((project) => (
          <div class="overflow-hidden xmd:rounded-xl bg-primary/10">
            <img
              src={project.img}
              class="aspect-[2/1] w-full bg-primary object-cover"
              alt={project.title}
            />
            <div class="space-y-2 p-4">
              <p class="font-semibold text-2xl text-primary">{project.title}</p>
              <p class="text-muted-foreground">{project.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </section>
  <section class="space-y-8">
    <div class="space-y-4 max-w-4xl px-4 mx-auto">
      <h2 class="font-bold text-4xl text-primary">About Santienz</h2>
      <p class="text-muted-foreground">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam
        perspiciatis omnis officia quibusdam odit veniam! Earum tempora quae
        aperiam enim nobis eius. Architecto iste deserunt eum non officiis a
        repellat.
      </p>
    </div>
    <div class="flex flex-wrap justify-evenly gap-4 max-w-4xl px-4 mx-auto">
      <div class="flex items-center gap-4">
        <Medal className="inline size-9 text-primary" />
        <div class="inline">
          <p>Fully Certified</p>
          <p class="text-base text-muted-foreground">Fully Certified</p>
        </div>
      </div>
      <div class="flex items-center gap-4">
        <Users className="inline size-9 text-primary" />
        <div class="inline">
          <p>Expert Team</p>
          <p class="text-base text-muted-foreground">Skilled professionals</p>
        </div>
      </div>
    </div>
    <div class="max-w-4xl px-4 mx-auto">
      <img
        src="https://fellow.app/wp-content/uploads/2022/11/Team-Member-Strengths2.jpg"
        class="aspect-[2/1] w-full object-cover rounded-xl"
        alt="basta"
      />
    </div>
  </section>
  <section class="space-y-8">
    <div class="mx-auto px-4 max-w-4xl space-y-4">
      <h2 class="font-bold text-4xl text-primary">What Our Clients Say</h2>
      <p class="text-muted-foreground">Hear from our satisfied customers</p>
    </div>
    <div class="mx-auto px-4 max-w-4xl space-y-4">
      {
        Array.from({ length: 4 }).map(() => (
          <div class="mx-auto max-w-4xl space-y-4 rounded-xl bg-primary/10 p-4">
            <div class="space-x-2 text-primary">
              <UserCircle className="float-start inline size-9" />
              <div class="inline-block">
                <p class="inline font-semibold leading-none text-2xl">
                  Lorem ipsum
                </p>
                <p class="text-base text-muted-foreground">01/23/45</p>
              </div>
            </div>
            <div class="flex gap-1">
              {Array.from({ length: 5 }).map((_, i) => (
                <Star
                  key={`${i + 1}`}
                  className="fill-primary/25 stroke-primary"
                />
              ))}
            </div>
            <p class="text-muted-foreground">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Laboriosam enim modi dolorem expedita?
            </p>
          </div>
        ))
      }
    </div>
  </section>
</MainLayout>
