---
import DesktopNavigation from "@/components/DesktopNavigation";
import Header from "@/components/Header.astro";
import MobileNavigation from "@/components/MobileNavigation";
import MainLayout from "@/layouts/MainLayout.astro";
import { Image } from "astro:assets";
import grid3dBackground from "@/images/grid_3d.png";

const projects = [
  {
    title: "Jollibee",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fugiat earum similique.",
    img: "https://flooringsolutions.ph/wp-content/uploads/2019/03/Reasons-Why-You-Should-Implement-Polyurethane-Flooring-e1552630914227.jpg",
    products: ["Polyurethane", "Nafufill"],
  },
  {
    title: "Universal Robina",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fugiat earum similique.",
    img: "https://flooringsolutions.ph/wp-content/uploads/2021/03/Why-Is-Polyurethane-Great-for-Flooring-1.jpg",
    products: ["Nafufill"],
  },
  {
    title: "SM Supermarket",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fugiat earum similique.",
    img: "https://flooringsolutions.ph/wp-content/uploads/2021/03/How-to-Apply-Diff-Polyurethane-Finishes.jpg",
    products: ["PU"],
  },
  {
    title: "Lorem Ipsum",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fugiat earum similique.",
    img: "https://flooringsolutions.ph/wp-content/uploads/2019/03/What-is-Polyurethane.jpg",
    products: ["PU", "Nafufill"],
  },
];
---

<MainLayout
  title="Projects of Satienz Philippines Inc. | No.1 Polyurethane Mortar Flooring in the Philippines since 1998"
  desc="Explore the projects of Santienz Philippines Inc. showcasing high-quality polyurethane mortar flooring and other projects completed across the Philippines since 1998."
>
  <Header className="text-primary-foreground">
    <DesktopNavigation hideProjects client:load />
    <MobileNavigation hideProjects client:load />
  </Header>
  <section
    id="main-hero"
    class="flex flex-col items-center justify-center h-fit pt-24 sm:pt-32 space-y-8 relative pb-16"
  >
    <div
      class="absolute inset-0 w-full h-full bg-blue-950 z-20 [mask-image:radial-gradient(transparent,white)] pointer-events-none"
    >
    </div>
    <Image
      src={grid3dBackground}
      alt="Grid 3D Background"
      class="absolute inset-0 w-full h-full object-cover"
    />

    <div
      class="flex flex-col items-center gap-4 flex-1 col-start-1 max-w-6xl px-4 z-20"
    >
      <h1
        class="font-bold text-center text-4xl sm:text-5xl md:text-6xl text-tertiary drop-shadow-lg leading-tight"
      >
        Projects
      </h1>
      <p class="text-primary-foreground text-center drop-shadow-lg">
        Explore the projects of Santienz Philippines Inc. showcasing
        high-quality polyurethane mortar flooring and other projects completed
        across the Philippines since 1998.
      </p>
    </div>
  </section>
  {
    projects.map((project) => (
      <section class="space-y-8 scroll-mt-42" id={project.title}>
        <div class="max-w-6xl mx-auto flex flex-col gap-4">
          <div class="px-4 space-y-4">
            <h2 class="font-bold text-4xl text-primary">{project.title}</h2>
            <p class="text-muted-foreground">{project.description}</p>
          </div>
          <div class="xmd:px-4 w-full">
            <img
              src={project.img}
              alt={project.title}
              class="w-full object-cover xmd:rounded-xl"
            />
          </div>
          <div class="px-4 text-muted-foreground">
            <div>
              <span class="text-primary font-semibold">Location: </span> Sample
              Location
            </div>
            <div>
              <span class="text-primary font-semibold">Client: </span> Sample
              Client Name
            </div>
            <div>
              <span class="text-primary font-semibold">Completed on: </span>
              {new Date().toLocaleDateString()}
            </div>
            <div>
              <span class="text-primary font-semibold">Products used: </span>PU,
              Nafufill
            </div>
          </div>
        </div>
      </section>
    ))
  }
</MainLayout>
<script is:inline>
  window.addEventListener("scroll", () => {
    const heroHeight = document.getElementById("main-hero")?.clientHeight + 124;

    if (window.scrollY > heroHeight * 0.75) {
      document
        .getElementById("landing-page-header")
        ?.classList.add("active-header");
      document
        .getElementById("header-burger-icon")
        ?.classList.add("active-header-burger-icon");
      Array.from(document.getElementsByClassName("header-links")).forEach(
        (el) => {
          el.classList.add("active-header-links");
        },
      );
    } else {
      document
        .getElementById("landing-page-header")
        ?.classList.remove("active-header");
      document
        .getElementById("header-burger-icon")
        ?.classList.remove("active-header-burger-icon");
      Array.from(document.getElementsByClassName("header-links")).forEach(
        (el) => {
          el.classList.remove("active-header-links");
        },
      );
    }
  });
</script>
