---
import { ChevronLeft } from "lucide-react";
import CTAButton from "@/components/CTAButton";
import DesktopNavigation from "@/components/DesktopNavigation";
import MobileNavigation from "@/components/MobileNavigation";
import SearchBar from "@/components/SearchBar.astro";
import Header from "@/components/syntax/Header.astro";

import {
  TableBody,
  TableCell,
  Table as TableComponent,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table";
import { supabase } from "@/db/supabase";
import MainLayout from "@/layouts/MainLayout.astro";
import LinearGradientMask from "@/components/LinearGradientMask.astro";
import Heading1AndP from "@/components/syntax/Heading1AndP.astro";

export const prerender = false;
const query = Astro.url.searchParams.get("query");
const projects = await supabase
  .from("projects")
  .select()
  .order("title", { ascending: true })
  .ilike("title", `%${query ?? ""}%`)
  .select("title, address, products, sqm, slug");
---

<MainLayout
  title="Complete List of Finished Projects of Santienz Phils. Inc."
  desc="Explore the complete list of finished projects of Santienz Phils. Inc. showcasing high-quality polyurethane mortar flooring and other projects completed across the Philippines since 1998."
>
  <Header className="text-primary backdrop-blur-lg">
    <DesktopNavigation hideProjects client:load />
    <MobileNavigation hideProjects client:load />
  </Header>

  <section class="relative">
    <Heading1AndP
      h1="Complete List of Finished Projects"
      p="Explore the complete list of finished projects of Santienz Phils. Inc. showcasing high-quality polyurethane mortar flooring and other projects completed across the Philippines since 1998."
      withCta
      parentClass="mx-auto px-4 pt-24 sm:pt-32 max-w-6xl"
      alignment="center-only"
    >
      <CTAButton
        className="px-12 z-20 shadow-lg"
        variant="tertiary"
        effect="shineHover"
        link="/projects"
      >
        <ChevronLeft /> Back to Featured Projects
      </CTAButton>
    </Heading1AndP>
    <LinearGradientMask />
  </section>
  <section class="relative">
    <div class="space-y-6 mx-auto max-w-6xl px-1 xmd:px-4 mt-6 relative">
      <SearchBar />
      <div class="border border-tertiary rounded-md px-3 xmd:px-1 shadow-lg">
        <TableComponent>
          <TableHeader>
            <TableRow className="[&>th]:text-tertiary [&>th]:font-semibold">
              <TableHead>Client</TableHead>
              <TableHead>Location</TableHead>
              <TableHead>Product used</TableHead>
              <TableHead>Area serviced</TableHead>
            </TableRow>
          </TableHeader>
          <TableBody>
            {
              projects.data?.map((project) => (
                <TableRow>
                  <TableCell className="font-medium text-primary hover:underline">
                    <a href={`/projects/${project.slug}`}>{project.title}</a>
                  </TableCell>
                  <TableCell>{project.address}</TableCell>
                  <TableCell>
                    {(project.products as string[])?.map((product, i) => (
                      <span>
                        <a
                          href={`/products#${product}`}
                          class="text-primary hover:underline"
                        >
                          {(project.products as string[])?.length - 1 !== i
                            ? `${product}, `
                            : product}
                        </a>
                      </span>
                    ))}
                  </TableCell>
                  <TableCell>
                    {project.sqm
                      ? `${Intl.NumberFormat().format(project.sqm)} sqm`
                      : null}
                  </TableCell>
                </TableRow>
              ))
            }
          </TableBody>
        </TableComponent>
      </div>
    </div>
    <div class="max-w-6xl mx-auto w-fit py-6">
      <CTAButton
        className="shadow-lg"
        variant="tertiary"
        effect="shineHover"
        link="/projects"
      >
        <ChevronLeft /> Back to Featured Projects
      </CTAButton>
    </div>
    <LinearGradientMask
      className="[mask-image:linear-gradient(transparent,transparent,white)]"
    />
  </section>
</MainLayout>
