---
interface Props {
  desc: string;
  title: string;
}

import "../styles/global.css";
const { desc, title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={desc} />
    <meta property="twitter:image" content="Twitter link preview image URL" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={desc} />
    <meta property="og:image" content="Link preview image URL" />
    <meta property="og:site_name" content={title} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />
    <meta property="og:url" content="Canonical link preview URL" />
  </head>
  <body
    class="poppins min-h-dvh w-full antialiased text-foreground bg-background"
  >
    <slot />
  </body>
</html>
