---
interface Props {
  desc: string;
  title: string;
}
import CTACard from "@/components/CTACard.astro";
import "../styles/global.css";
import Footer from "@/components/Footer.astro";
import Main from "@/components/Main.astro";
import { Toaster } from "@/components/ui/sonner";

const { desc, title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={desc} />
    <meta
      property="twitter:image"
      content="https://santienz-astro.vercel.app/summary.png"
    />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={desc} />
    <meta
      property="og:image"
      content="https://santienz-astro.vercel.app/summary.png"
    />
    <meta property="og:site_name" content={title} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />
    <meta property="og:url" content="https://www.santienz-astro.vercel.app" />
  </head>
  <body
    class="poppins text-base min-h-dvh flex flex-col w-full antialiased text-foreground bg-background"
  >
    <Main>
      <slot />
      <CTACard />
    </Main>
    <Footer />
    <Toaster client:load richColors={true} />
  </body>
</html>
