---
interface Props {
  desc: string;
  title: string;
  hideCTACard?: boolean;
  image?: string | null;
}
import "@fontsource/poppins/100.css";
import "@fontsource/poppins/200.css";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import "@fontsource/poppins/900.css";
import CTACard from "@/components/CTACard.astro";
import "../styles/global.css";
import { SEO } from "astro-seo";
import Footer from "@/components/syntax/Footer.astro";
import { Toaster } from "@/components/ui/sonner";
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";
const { desc, title, hideCTACard = false, image } = Astro.props;
const url = Astro.url;
const canonicalURL = new URL(url.pathname, url);
const siteURL = new URL("/", url);
const webSiteSchema = new URL("/#/schema/WebSite", Astro.url);
const structuredData = {
  "@context": "https://schema.org",
  "@type": "WebSite",
  "@id": webSiteSchema,
  name: title,
  url: siteURL,
  description: desc,
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <SEO
      title={title}
      titleTemplate="%s | The Ultimate Polyurethane Mortar Floor"
      titleDefault="Santienz Phils. Inc."
      description={desc}
      openGraph={{
        basic: {
          title,
          type: "website",
          image: image ?? `${url.origin}/summary-new.png`,
          url: `${url.origin}${url.pathname}`,
        },
        optional: {
          description: desc,
          siteName: "Santienz Phils. Inc.",
        },
      }}
      twitter={{
        title,
        description: desc,
        card: "summary_large_image",
        image: image ?? `${url.origin}/summary-new.png`,
        creator: "@dondycles",
      }}
    />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="canonical" href={canonicalURL} />
    <link rel="sitemap" href={`${url.origin}/sitemap-index.xml`} />
    <script
      is:inline
      type="application/ld+json"
      set:html={JSON.stringify(structuredData)}
    />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body
    class="text-base min-h-dvh flex flex-col w-full antialiased text-foreground bg-background"
  >
    <main class="flex-1 z-0">
      <slot />
      {hideCTACard ? null : <CTACard />}
      <Footer />
      <Analytics />
      <SpeedInsights />
    </main>
    <Toaster client:load richColors={true} />
  </body>
</html>
